<article class="articleItem">
    {{ if .Params.cover }}
    {{ $url := .Params.cover | absURL }}
    <div class="cover--wrap">
        <div class="time"><time datetime='{{.Date.Format "2006-01-02 15:04:01" }}' class="humane--time">{{ .Date
                | time.Format
                ":date_long"
                }}</time>
            {{ if .Params.categories }}
            <span class="dot"></span>
            {{ range (.GetTerms "categories") }}
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            {{ end }}
            {{ end }}
        </div><img src="{{ $url }}" class="cover" itemprop="image" />
    </div>
    {{ else if .Content }}
    {{ $urls := findRE "<img src=\"[^\"|\\\"]*\"" .Content }} {{ if $urls }} {{ $url :=index ($urls) 0 }} {{ $url
        :=(strings.TrimPrefix "<img src=\"" $url) }}
{{ $url := strings.TrimRight " \"" $url }} <div class="cover--wrap">
    <div class="time"><time datetime='{{.Date.Format "2006-01-02 15:04:01" }}' class="humane--time">{{ .Date
            | time.Format
            ":date_long"
            }}</time>
        {{ if .Params.categories }}
        <span class="dot"></span>
        {{ range (.GetTerms "categories") }}
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        {{ end }}
        {{ end }}
    </div><img src="{{ $url }}" class="cover" itemprop="image" /> </div>{{ end }} {{
    end }}
    <div class="content">
        <h2 class="title">
            <a href="{{ .Permalink }}">
                {{ .Title }}
            </a>
        </h2>
        <div class="summary">{{ .Summary | truncate 60 }}</div>
    </div>
</article>