{{ define "main" }}

<div class="layoutSingleColumn u-paddingBottom50">
    <div class="topCard">
        <div class="topCard--item">
            <img src="https://static.fatesinger.com/2023/10/aeqd36ewmo15vnzj.jpg" class="topCard--cover" alt="avatar">
        </div>
        <div class="topCard--item">
            <img src="https://static.fatesinger.com/2024/01/py6p1vbg0b34hr3x.jpeg" class="topCard--cover" alt="avatar">
        </div>
        <div class="topCard--item">
            <img src="https://static.fatesinger.com/2023/10/ldlkc4cbro8n4dv1.jpg" class="topCard--cover" alt="avatar">
        </div>
    </div>
    <div class="articleList u-xs-paddingTop15">
        <div class="last--title">最新文章</div>
        {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
        {{ $paginator := .Paginate ($pages) }}
        {{ range $paginator.Pages }}
        {{ if eq .Type "memo" }}
        {{ partial "memo.html" . }}
        {{ else }}
        {{ partial "post.html" . }}
        {{ end }}
        {{ end }}
    </div>
    {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
    <div class="pagination">
        {{ if $paginator.HasPrev }}
        <span class="prev">
            <a href="{{.Paginator.Prev.URL}}">
                <span class="arrow">←</span> {{ with .Site.Params.newerPosts }}{{ . }}{{ else }}{{ i18n "postsNewer"
                }}{{ end }}
            </a>
        </span>
        {{ end }}

        {{ if $paginator.HasNext }}
        <span class="next">
            <a href="{{.Paginator.Next.URL}}">
                {{ with .Site.Params.olderPosts }}{{ . }}{{ else }}{{ i18n "postsOlder" }}{{ end }} <span
                    class="arrow">→</span>
            </a>
        </span>
        {{ end }}
    </div>
    {{ end }}
</div>
{{ end }}